
*.json
.vs/TestProject/DesignTimeBuild/.dtbcache.v2
.vs/TestProject/v17/.suo
.vs/TestProject/v17/TestStore/0/000.testlog
.vs/TestProject/v17/TestStore/0/testlog.manifest
FiguresLibary/bin/Debug/net6.0/FiguresLibary.dll
FiguresLibary/bin/Debug/net6.0/FiguresLibary.pdb
FiguresLibary/FiguresLibary.cs
FiguresLibary/FiguresLibary.csproj
FiguresLibary/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
FiguresLibary/obj/Debug/net6.0/FiguresLibary.AssemblyInfo.cs
FiguresLibary/obj/Debug/net6.0/FiguresLibary.AssemblyInfoInputs.cache
FiguresLibary/obj/Debug/net6.0/FiguresLibary.assets.cache
FiguresLibary/obj/Debug/net6.0/FiguresLibary.csproj.AssemblyReference.cache
FiguresLibary/obj/Debug/net6.0/FiguresLibary.csproj.BuildWithSkipAnalyzers
FiguresLibary/obj/Debug/net6.0/FiguresLibary.csproj.CoreCompileInputs.cache
FiguresLibary/obj/Debug/net6.0/FiguresLibary.csproj.FileListAbsolute.txt
FiguresLibary/obj/Debug/net6.0/FiguresLibary.dll
FiguresLibary/obj/Debug/net6.0/FiguresLibary.GeneratedMSBuildEditorConfig.editorconfig
FiguresLibary/obj/Debug/net6.0/FiguresLibary.GlobalUsings.g.cs
FiguresLibary/obj/Debug/net6.0/FiguresLibary.pdb
FiguresLibary/obj/Debug/net6.0/ref/FiguresLibary.dll
FiguresLibary/obj/Debug/net6.0/refint/FiguresLibary.dll
FiguresLibary/obj/FiguresLibary.csproj.nuget.g.props
*.dll
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.genruntimeconfig.cache
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.FileListAbsolute.txt
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.CoreCompileInputs.cache
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.CopyComplete
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.BuildWithSkipAnalyzers
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.AssemblyReference.cache
TestProject.Testes/bin/Debug/net6.0/TestProject.Testes.pdb
TestProject.Testes/bin/Debug/net6.0/testhost.exe
TestProject.Testes/bin/Debug/net6.0/FiguresLibary.pdb
TestProject.Testes/bin/Debug/net6.0/CoverletSourceRootsMapping
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.AssemblyReference.cache
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.AssemblyReference.cache
TestProject.Testes/obj/Debug/net6.0/TestProject.Testes.csproj.AssemblyReference.cache
*.pdb
*.cache
