
.gitattributes
obj/TestProject.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/TestProject.pdb
obj/Debug/net6.0/TestProject.GlobalUsings.g.cs
obj/Debug/net6.0/TestProject.genruntimeconfig.cache
obj/Debug/net6.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TestProject.dll
obj/Debug/net6.0/TestProject.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TestProject.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TestProject.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/TestProject.csproj.AssemblyReference.cache
obj/Debug/net6.0/TestProject.assets.cache
obj/Debug/net6.0/TestProject.AssemblyInfoInputs.cache
obj/Debug/net6.0/TestProject.AssemblyInfo.cs
obj/Debug/net6.0/refint/TestProject.dll
obj/Debug/net6.0/ref/TestProject.dll
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
bin/Debug/net6.0/TestProject.runtimeconfig.json
bin/Debug/net6.0/TestProject.pdb
bin/Debug/net6.0/TestProject.exe
bin/Debug/net6.0/TestProject.dll
bin/Debug/net6.0/TestProject.deps.json
obj/TestProject.csproj.nuget.g.targets
obj/TestProject.csproj.nuget.g.props
obj/TestProject.csproj.nuget.dgspec.json
